@font-face {
    font-family: nbaFont;
    src: url("../fonts/promesh.mesh-regular.ttf");
}

.nba-logo {
	margin: 0 auto;
}

header {
	position: absolute;
	z-index: 1;
	width: 100%;
}

.headerLeft {
	float: left;
}

.headerRight {
	float: right;
}

.slogan {
	clear: all;
	float: left;
}

body {
	background-image: url("../images/basketball-net.jpg");
	color: orange;
	font-family: nbaFont;
	font-size: 30px;
}

.curry {
	width: 500px;
	height: 281.25px;
	opacity: 0;
}

#wins, #wordDisplay, #guessedDisplay {
	border: 2px solid #E82508;
	background-color: blue;
}

#wordBox, #guessesBox, #winsBox {
	/*border: 2px solid #3EFF10;*/
	border: 2px solid white;
	height: 125px;
	background-color: black;
	padding: 10px;
}

#guessesBox {
	height: 175px;
}

#wordDisplay {
	font-weight: 900;
}

